<h1>Our CONTACT 🚀</h1>
<h2>Meet our team</h2>

<ol>
  <% @members.each do |member| %>
    <li><%= member %></li>
  <% end %>
</ol>


<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>

<%= link_to "home", root_path %>
<%= link_to "about", about_path %>